@import"../../../css-config/mixins.scss";

.hero-banner {
    height          : calc(100vh - 50px);
    padding         : 40px 0;
    position        : relative;
    background-image: linear-gradient(to right, #8e2de2, #4a00ea);

    @include md {
        height: calc(100vh - 80px);
    }

    .content {
        position       : relative;
        display        : flex;
        height         : 100%;
        justify-content: flex-end;
        align-items    : center;
        flex-direction : column-reverse;
        margin         : 0 auto;


        @include lg {
            flex-direction: row;
            max-width     : 1200px;
        }

        .banner-slider {
            animation: rightToLeft ease 0.7s;

            .slider {
                width: 300px;

                @include md {
                    width: 350px;
                }

                @include lg {
                    width: 500px;
                }

                @include xxl {
                    width: 600px;
                }
            }
        }


        .text-content {
            text-align    : center;
            color         : white;
            display       : flex;
            flex-direction: column;
            align-items   : center;
            margin-bottom : 20px;
            margin-top    : 20px;
            animation     : leftToRight ease 0.7s;

            @include md {
                position: absolute;
                left    : 150px;
                top     : 50%;
            }

            @include xl {
                position: absolute;
                left    : 0;
                top     : 30%;
            }

            h1 {
                font-size    : 80px;
                font-weight  : 700;
                line-height  : 1;
                margin-bottom: 20px;

                @include md {
                    font-size: 180px;
                }
            }

            p {
                max-width    : 300px;
                font-size    : 30px;
                line-height  : 20px;
                margin-bottom: 20px;
                line-height  : 40px;

                @include md {
                    max-width    : 500px;
                    font-size    : 40px;
                    line-height  : 24px;
                    margin-bottom: 40px;
                }
            }

            .btns {
                display        : flex;
                gap            : 20px;
                justify-content: center;

                .banner-btn {
                    text-transform: uppercase;
                    font-size     : 13px;
                    font-weight   : 500;
                    border        : 2px solid white;
                    padding       : 5px 10px;
                    cursor        : pointer;

                    &.v2 {
                        background-color: white;
                        color           : black;
                    }

                    &:hover {
                        opacity: 0.6;
                    }

                    @include md {
                        padding: 10px 20px;
                    }
                }
            }
        }

    }

}

@keyframes leftToRight {
    0% {
        transform: translateX(-400px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(0);
    }
}