@import"../../../../css-config/mixins.scss";

.slider {
    .slick-slide {
        display        : flex !important;
        justify-content: center;
        align-items    : center;

        img {
            object-fit: cover;
        }


        .banner-img {
            width: 200px;


            @include md {
                width: 350px;
            }

            @include lg {
                width: 500px;
            }

            @include xxl {
                width: 600px;
            }
        }
    }
}